sudo: required
services:
  - docker

before_install:
  - docker build -t reziel84/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run reziel84/react-test npm run test -- --coverage

after_success:
  - docker build -t reziel84/multi-client ./client
  - docker build -t reziel84/multi-nginx ./nginx
  - docker build -t reziel84/multi-server ./server
  - docker build -t reziel84/multi-worker ./worker

# Log in to the docker CLI

- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

#Take thos images and push them to docker hub

- docker push reziel84/multi-client
- docker push reziel84/multi-nginx
- docker push reziel84/multi-server
- docker push reziel84/multi-worker

deploy:
  provider: elasticbeanstalk
  region: "us-west-2"
  app: "docker"
  env: "Docker-env"
  bucket_name: "elastcisk-us-west2"
  bucket_path: "docker"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: "$AWS_SECRET_KEY"

